<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./favicon.svg">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="description" content="MaFood find your favorite restaurants here">
  <meta name="theme-color" content="#e2ecf4"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <title>MaFood | Restoran Favorite</title>
</head>
<body>
  <header>
    <nav-bar></nav-bar>
  </header>

  <app-hero></app-hero>
  <main id="main"></main>
  <footer>
    <app-footer></app-footer>
  </footer>
  <script>
    window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/speed-insights/script.js"></script>
</body>
</html>
